<main class="main">
  <div class="navigation">
    <ul>
      <li><a routerLink="../index">Главная</a></li>
      <li><a routerLink="../news">Новости</a></li>
      <li><a routerLink="../official">Сведения об образовательной организации</a></li>
      <li><a routerLink="../galery">Галерея</a></li>
      <li><a routerLink="../reviews">Общественное мнение</a></li>
      <li><a routerLink="../advertisement">Объявления</a></li>
      <li><a routerLink="../feedback">Обратная связь</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>Отзывы</h1>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_1.pdf">Отзыв о работе школы начальника ОДН
      Советского РОВД Симахиной Н.М.</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_2.pdf">ТОИПКРО о Клубе
      старшеклассников</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_3.pdf">Томская областная детско-юношеская
      библиотека</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_4.pdf">Отзыв о работе обучающихся, членов
      Управляющего совета</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_5.pdf">Центр дополнительного образования детей
      «Планирование карьеры»</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_6.pdf">Отзывы выпускников школы, членов Клуба
      старшеклассников разных лет.</a><br><br>
    <a href="http://school-40.tomsk.ru/files/img/file/vosp/otzv_7.pdf">Эссе "Воспоминания о школе".</a>
  </div>
</main>
