<main class="main">
  <div class="navigation">
    <ul>
      <li><a routerLink="../index">Главная</a></li>
      <li><a routerLink="../news">Новости</a></li>
      <li><a routerLink="../official">Сведения об образовательной организации</a></li>
      <li><a routerLink="../galery">Галерея</a></li>
      <li><a routerLink="../reviews">Общественное мнение</a></li>
      <li><a routerLink="../advertisement">Объявления</a></li>
      <li><a routerLink="../feedback">Обратная связь</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>Объявления</h1>
    <div class="ad-images">
      <a href="http://school-40.tomsk.ru/files/img/file/zadanij/podarki_nov_god.pdf"><img
        src="../../../assets/images/images-links/ad-1.jpg" alt=""></a>
      <a href="#"><img src="../../../assets/images/images-links/ad-2.jpg" alt=""></a>
      <a href="#"><img src="../../../assets/images/images-links/ad-3.jpg" alt=""></a>
    </div>
  </div>
</main>

